@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(images/portadaa.png);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;
        display: flex;
        align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
    color: #FFFDFC;
    font-size: 25px;
    font-weight: 800;
    
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #CE967B;
}

#menu {
    display: none;
    
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 60px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.computadora {
    padding: 100px 0;
    position: relative;
}

.computadora-content {
    text-align: center;
}

.computadora-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15p;
}

.txt-p {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
    
}

.img1 {
    width: 600px;
    height: 250px;
    
}



.txt-p1 {
    text-align: justify;
}

.lista {
    background-color: #a67359;
    color: #FFFDFC;
}

.contenedor {
    margin-top: 100px;
    display: flex;
    justify-content: right;
    padding: 25px;
}

.contenedor2 {
    margin-top: 100px;
    display: flex;
    justify-content: left;
    padding: 25px;
}

.contenedor3 {
    display:flex;
}

.columna-1 {
    background-color: #CE967B;
    padding: 25px;
}

.columna-2 {
    background-color: rgb(240, 224, 224);
    padding: 25px;
}